@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.lato-thin {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    border: 2px solid red;
  }
 *{
  border: 2px dashed green;
 }
/* First Section designing */
.flower-banner{
  /* position:absolute; */
  width:1920px;
  height:850px;
  display: flex;
  background-color: rgba(229, 84, 115, 0.3);
  margin: 0 auto;
  margin-bottom: 120px;
}
.left-section{
 width: 708px;
  height: 506px;
 margin-left: 145px;
 margin-top: 190px;
 margin-right: 240px;
 }
.left-section h1 {
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 60px;
  font-weight: 800;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
}

.left-section p{
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 32px;
}
.btn-1{
  width: 190px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 254, 254);
  background-color: rgb(229, 84, 115);
  border-radius: 8px ;
  margin-top: 32px;
  margin-bottom: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px 43px 20px 43px;
  border: none;
}
.right-section{
  width: 635px;
  height: 800px;
 margin-top: 50px;
 margin-right: 240px;
 }
/* second-section styling */
.feature-flower{
  margin-bottom: 140px;
}
.feature-flower-describe , .insta-heading{
width: 594px;
height: 132px;
border: 2px solid white;
margin: 0 auto;
margin-bottom: 48px;
align-items: center;
}
.feature-flower-describe h1 , .insta-heading h3{
position: absolute;
width: 400px;
height: 48px;
color: rgb(39, 39, 39);
font-size: 40px;
font-weight: 800;
line-height: 48px;
text-align: center;
align-items: center;
margin-top: 10px;
margin-left: 120px;
}
.feature-flower-describe p , .insta-heading p{
color: rgba(39, 39, 39, 0.9);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: 80px;
}
.feature-flower-img{
  width: 1440px;
  height: 538px;
  margin: 0 auto;
  display: flex;
  gap: 24px;
}
.box-1,.box-2,.box-3{
  height: 538px;
  width: 464px;
}
.box-1{
  border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.box-1 img{
  width: 310px;
  height: 428px;
  margin-top: 110px;
  margin-left: 76px;
}
.box-2{
  border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
}
.box-2 img{
  width: 370px;
  height: 370px;
  margin-top: 117px;
  margin-left: 47px;
  margin-bottom: 51px;
}
.box-3{
  border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
}
.box-3 img{
  width: 314px;
  height: 471px;
  margin-top: 67px;
  margin-left: 75px;
}

.p{
  color: rgb(39, 39, 39);
  font-family: Lato;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
  letter-spacing: 0%;
  text-align: center;
  text-decoration-line: underline;
}
/* Third Section Styling */
.third-section{
width: 1440px;
height: 320px;
border-radius: 8px;
background: rgba(39, 39, 39, 0.2);
margin: 0 auto;
border: 2px solid white;
margin-bottom: 120px;
}
.img-align{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 80px;
}
 .para{
  font-size: 24px;
  color: rgba(39, 39, 39, 0.8);
  font-weight: 600;
  text-align: center;
  margin-left: -120px;
}
.third-part .para{
  margin-right: -100px;
}
/* Sale Section Styling */
.sale-section{
  width: 1620px;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.3);
  margin: 0 auto;
}
.hot-deal{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.left-part{
  margin-top: 160px;
}
.left-part h3{
  font-size: 40px;
  font-weight: 800;
  color: rgb(39, 39, 39);
  line-height: 40px;
}
.color{
  color:rgb(229, 84, 115);
}
.left-part p{
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  color: rgba(39, 39, 39, 0.9);
}
.btn-2{
  width: 190px;
  height: 64px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(255, 254, 254);
  background-color: rgb(229, 84, 115);
  border-radius: 8px ;
  border: none;
  padding: 20px 43px 20px 43px;
  margin-left: 180px;
}
.right-part{
  margin-top: 160px;
}
/* Instagram Section Styling */
.insta-section{
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 50px;
}
.insta-img-container{
  display: flex;
  justify-content: space-between;
}
/* Latest-Deal Section */
.latest-deal{
  width: 1440px;
  height: 450px;
  margin-top: 120px;
  margin: 0 auto;
  background-image: url(./image/Rectangle\ 9.png);
  border-radius: 8px;
}
.latest-deal h3 , .footer h3{
  font-size: 40px;
  font-weight: 800;
  color: rgb(39, 39, 39);
  line-height: 40px;
  align-items: center;
  margin-top: 120px;
 text-align: center;
}
.latest-deal p , .footer p{
color: rgba(39, 39, 39, 0.9);
font-size: 18px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
margin-top: -15px;
}
input{
  width: 700px;
  height: 64px;
  color: white;
  border-radius: 8px;
  font-size: 16px;
font-weight: 400;
line-height: 19px;
margin-left:200px ;
padding:0 10px;
}
.button .btn-1{
  height: 64px;
  margin-left: 940px;
  margin-top: -66px;
}
/* Footer Section */
.footer{
width: 1920px;
height: 450px;
background-color: black;
margin: 0 auto;
margin-top: 120px;
margin-bottom: 20px;
}
.footer h3 , .footer p{
  color: white;
}
.footer .copy{
  margin-top: 40px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  line-height: 20px;
}
/* For Mobile */
@media screen and (max-width:576px) {
  .flower-banner{
    width: 100%;
    height: 100%;
   flex-direction: column;
    }
    .left-section{
      width: 250px;
      height: 480px;
      margin-left:10px;
      margin-top: 10px;
    }
    .left-section h1{
      font-size: 36px;
      margin-left: 10px;
      line-height: 40px;
    }
    .left-section p{
      width:300px;
      margin-left: 10px;
      margin-top: none;
    }
    .btn-1
    {
      width: 160px;
      height: 66px;
      margin-left: 10px;
      padding: 0;
      margin: 0;
    }
    .right-section{
      width: 300px;
      height: 400px;
      margin-left:10px;
      margin-top: 60px;
    }
    .right-section img{
      width: 100%;
    }
}